.profileWrapper {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    width: 100%;
    /* padding: 13px; */
}

.userIcon {
    width: 40px;
    height: 40px;
    grid-column: 1/5;
}

.dropDown {
    display: none;
    position: absolute;
    background-color: antiquewhite;
    min-width: 200px;
    padding: 12px 16px;
    z-index: 10;
    margin-top: 70;
}

.profileWrapper:hover .dropDown {
    display: block;
}

.dropDown a {
    display: block;
    cursor: pointer;
    padding: 10px;
}