

.profileViewWrapper {
    /* border: 1px solid red; */
    /* margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
    height: 50vh; */
    display: block;
    margin-top: 10vh;
    margin-right: auto;
    align-content: center;
}

.username {
    color: rgb(85, 71, 61);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    /* margin-top: 15vh;
    margin-left: 5vw; */
    margin-bottom: 15vh;
    grid-column: 2/10;
}

.personalData {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    margin: 5vh;
}

.profileText {
    
}

.profileBio {
    display: block;
    margin-top: 5vh;
    width: 20vw;
}

.profilePic {
    /* float: right; */
    /* grid-column: 4/10;
    border-radius: 5px; */
}

.listWrapper {
    /* border: 1px solid blue; */
    
}

.bandPic {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 5px
}

.subHeading {
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
}

#wantWrapper {
    /* border: 1px solid black; */
    margin: 10vh;
    margin-top: 20vh;
    text-align: center;
}

#seenWrapper {
    margin: 10vh;
    text-align: center;
}


/* settings */

.settingsWrapper {
    display: block;
    margin-top: 10vh;
    margin-right: auto;
    align-content: center;
}

h3 {
    text-align: center;
}

.authHeader {
    display: block;
    margin-left: 5vw;
    margin-right: auto;
    width: 10vw;
}

form {
    border: 1px solid #2b1635;
    border-radius: 5px;
    padding: 10vw;
    margin-top: 5vh;
    display: grid;
    justify-content: center;
}

.inputSpan {
    padding: 1vh;
    display: block
}

.inputField {
    display: block;
}

.formButton {
    margin-bottom: 5vh;
    margin-bottom: 10vh;
    display: block;
}

.updateWrapper {
    margin-right: 40vw;
    /* text-align: end; */
}

.deleteWrapper {
    margin-right: 40vw;
    margin-left: 45vw;
    text-align: center;
}


/* Sign in */
.signinCard {

}

.signinForm {
    /* margin-left: 20vw;
    margin-right: auto; */
}