.bandViewWrapper {
    /* border: 1px solid red; */
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
    height: 50vh;
}

.bandname {
    color: rgb(85, 71, 61);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    margin-top: 15vh;
    margin-left: 5vw;
    
}

.bandPic {
    float: right;
    border-radius: 5px;
}

.dropDown {
    display: none;
    position: absolute;
    background-color: antiquewhite;
    min-width: 200px;
    padding: 12px 16px;
    z-index: 10;
    margin-top: 12px;
}

.statusWrapper {
    padding: 1vw;
    width: 100px;
    margin: 10vh;
    border-radius: 8px;
    background-color: rgb(71, 85, 80);
    color: rgb(217, 224, 205);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}

.statusWrapper:hover .dropDown {
    display: block;
}

.dropDown span {
    display: block;
    cursor: pointer;
    padding: 10px;
}

.description {
    margin: 10vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}

.genre {
    margin-left: 10vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}