.browseViewWrapper {
    /* border: 1px solid red; */
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
    height: 50vh;
}

.searchDiv {
    /* border: 1px solid blue; */
    padding: 10px;
    text-align: center;
}

.contentDiv {
    /* border: 1px solid green; */
    padding-top: 10px;
    padding-left: 50px;
    text-align: center;
}

table {
    margin-top: 15px;
    /* margin-bottom: auto; */
  margin-left: auto;
  margin-right: auto;
}

td {
    padding-left: 2vw;
}