
.dropDown {
    display: none;
    position: absolute;
    background-color: antiquewhite;
    min-width: 200px;
    padding: 12px 16px;
    z-index: 10;
    margin-top: 12px;
}

.statusWrapper {
    padding: 1vw;
    width: 100px;
    margin: 1vh;
    border-radius: 8px;
    background-color: rgb(71, 85, 80);
    color: rgb(217, 224, 205);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}

.statusWrapper:hover .dropDown {
    display: block;
}

.dropDown span {
    display: block;
    cursor: pointer;
    padding: 5px;
}