.topOfNav {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color: rgb(218, 209, 199);
}

.musicIcon {
    display: inline;
    width: 8vh;
}

.signin {
    display: inline;
    grid-column: 9/10;
    align-self: center;
}

.musicIcon, .signin {
    cursor: pointer;
}

.profile {
    display: inline;
    grid-column: 9/10;
    grid-row: 1/5;
}


.tabs {
    display: grid;
    grid-template-columns: repeat(10, 2fr);
    background-color: rgb(190, 190, 204);
}