.navWrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    background-color: #6643a1;
    border-radius: 5px;
}

.musicIcon {
    display: grid;
    padding-left: 3vw;
    width: 8vh;
}

.musicIcon, .signin, .profile {
    cursor: pointer;
}

.tabs {
    display: grid;
    grid-column: 3/5;
    grid-template-columns: repeat(3, 1fr);
    width: 45vh;
    background-color: #3d216e;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.navTab {
    padding: 2vw;
    padding-right: 4vw;
}

.navTab:hover {
    background-color: black;
}

.authOptions {
    display: flex;
    grid-column: 6/10;
    padding-left: 2vw;
    padding-right: 5vw;
}

.signin {
    display: inline;
    grid-column: 4/5;
    align-self: center;

    
}

.profile {
    display: grid;
    grid-column: 9/10;
    width: 8vh;
}

.userIcon {
    height: 8vh;
}

.dropDownProfile {
    display: none;
    position: absolute;
    border-radius: 5px;
    min-width: 150px;
    padding: 12px 10px;
    background-color: #2b1635;
    color: rgb(255, 255, 255);
    z-index: 10;
    margin-top: 0vh;
}

.profileWrapper:hover .dropDownProfile {
    display: block;
}

.dropDownProfile a {
    display: block;
    cursor: pointer;
    padding: 10px;
}

